/* styling button */
.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;
}

.btn--white{
    background-color: #fff;
    color: #000;
    font-weight: 700;
}
.btn:hover{
    transform:translateY(-3px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}
.btn:active{
    transform: translateY(-.1rem);
}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transition: all .4s;
}
.btn--white:after{
    background-color: white;
}
.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn--anim{
    animation: moveInUp  .5s ease-out .75s;
    animation-fill-mode: backwards;
}


.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $sec-green;
        display: inline-green;
        text-decoration: none;
        border-bottom: 1px solid $sec-green;
        padding: .3rem;
        transition: all .2s;
        transform: translateY(-2px);
    }
    &:hover{
        color: $white;
        background-color: $sec-green;
        box-shadow: 0 1rem 2rem rgba($black, .15);
        transform: translateY(-5px);
    }
    &:active{
        box-shadow: 0 .5rem 1rem rgba($black, .15);
        transform: translateY(0);
    }
}
