/* colors variable */
$primary-green : #1b5218;
$sec-green: #28b485b4;
$red-color: #c4333ab7;
$grey: #777;
$black: #000;
$white: #fff;


// grid variables
$grid-width : 114rem;
$gutter-vertical: 8rem;
$horizontal-gutters: 6rem;